:root {
  --light: #ffbe90;
  --medium: #f77335;
  --dark: #d84423;
  --text: #1b1b1b;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: whitesmoke;
  transition: 0.2s;
}

body {
  background-color: var(--medium);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.header {
  position: fixed;
  cursor: default;
  color: var(--text);
  font-weight: bold;
  font-size: 1.2em;
  padding: 2em;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 6vh;
  background-color: var(--medium);
}

#phone {
  border: 1px solid #1b1b1b;
  padding: 5px;
  border-radius: 15px;
}

#phone:hover {
  border: 1px solid whitesmoke;
}

.container {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 10%;
}
.action {
  position: relative;
  cursor: pointer;
  margin: 1.5em auto;
  width: 11em;
  padding: 15px;
  font-size: 1.5em;
  border: none;
  border-radius: 30px;
  box-shadow: 0 5px 10px 2px var(--dark);
  animation-name: button;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.actbtn::before {
  position: absolute;
  margin: auto;
  margin-top: -1em;
  margin-left: -3em;
  content: url(/arrow.svg);
  width: 3em;
  height: 3em;
  transform: rotate(20deg);
  z-index: 100;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.action:hover {
  box-shadow: 0 5px 10px 2px var(--light);
  transition: 0.2s;
}

h2 {
  letter-spacing: 1px;
  cursor: default;
  color: var(--text);
}

.message {
  color: var(--text);
  font-size: 2em;
  letter-spacing: 1px;
  cursor: default;
}

.timer {
  font-size: 3em;
  cursor: default;
}

.ending {
  color: white;
  text-shadow: 5px 5px var(--dark);
}

p {
  cursor: default;
}

.footer {
  margin-top: 3em;
  color: var(--light);
}

dialog[open] {
  width: 25%;
  min-width: fit-content;
  opacity: 1;
  transform: scaleY(1);
  padding: 5px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px 2px var(--dark);
}

dialog {
  opacity: 0;
  padding: 5px;
  border: none;
  border-radius: 10px;
  transform: scaleY(0);
  transition: all 0.7s allow-discrete;
}

@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scaleY(0);
  }
}

dialog[open]::backdrop {
  backdrop-filter: blur(10px);
}

dialog::backdrop {
  backdrop-filter: blur(0px);
  transition: all 0.7s allow-discrete;
}

@starting-style {
  dialog[open]::backdrop {
    backdrop-filter: blur(0px);
  }
}

.modal-content {
  width: 100%;
  padding: 15px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-end;
}

.close {
  background: none;
  position: relative;
  width: fit-content;
  border: none;
  border-radius: 50%;
  color: var(--text);
  font-size: 1.3em;
  cursor: pointer;
}

.close:hover {
  color: var(--dark);
}

.subscribeForm {
  padding: 20px;
  width: 100%;
}

input {
  display: block;
  width: 100%;
  margin: 1.2em auto;
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid var(--text);
  text-align: center;
}

.submit {
  background-color: var(--medium);
  color: var(--text);
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 30px;
}

.submit:hover {
  color: whitesmoke;
  transition: 0.2s;
}
